* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root {
  margin-top: 65px;
  margin-left: 5px;
}
.palette {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 10;
  background-color: coral;
  padding: 10px;
}

.palette div {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
}
.palette div:hover {
  outline: 2px dashed gold;
  outline-offset: 2px;
}
.palette-active {
  outline: 2px solid gold;
  outline-offset: 2px;
}
.make-water {
  background-color: lightskyblue;
}
.make-grass {
  background-color: green;
}
.make-fire {
  background-color: orange;
}
.add-cleanbot {
  background-color: indigo;
}
.add-digbot {
  background-color: palegreen;
}
.raise {
  background-color: violet;
}
.lower {
  background-color: wheat;
}
.show-details {
  background-color: #fff;
}

.row {
  height: 20px;
}

.bots .row {
  
}

.bots {
  position: absolute;
  top: 65px;
  left: 5px;
  z-index: 10;
  pointer-events: none;
}
.botCell {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.bot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 5px;
  height: 5px;
}

.bot[data-bot="empty"] {
  background-color: none;
}
.bot[data-bot="cleanbot"] {
  background-color: indigo;
}
.bot[data-bot="digbot"] {
  background-color: palegreen;
}
.bot[data-bot="pumpbot"] {
  background-color: tomato;
}
.tile {
  display: inline-block;
  width: 20px;
  height: 20px;
}


.tile[data-height='0'] {
  opacity: 0.4;
}
.tile[data-height='1'] {
  opacity: 0.6;
}
.tile[data-height='2'] {
  opacity: 0.8;
}
.tile[data-height='3'] {
  opacity: 1.0;
}
.tile[data-type='rock'] {
  background-color: black;
}
.tile[data-type='wasteland'] {
  background-color: darkslategrey;
}
.tile[data-type='fertile'] {
  background-color:brown;
}
.tile[data-type='grassland'] {
  background-color: green;
}
.tile[data-type='water'] {
  background-color: lightskyblue;
}
.tile[data-fire='1'] {
  outline: 2px solid orange;
}
.tile[data-fire='2'] {
  outline: 2px solid tomato;
}
.tile[data-fire='3'] {
  outline: 2px solid tomato;
}
.tile[data-fire='4'] {
  outline: 2px solid tomato;
}
.tile[data-fire='5'] {
  outline: 2px solid tomato;
}

.tile[data-type='ash'] {
  background-color: grey;
}

.tile[data-type='changed'] {
  background-color: purple;
}


.tile:hover {
  position: relative;
  outline: 2px dashed gold;
}